header div{
    height: 80px;
    background-color: rgb(0, 166, 255);
    background-image: url(/img/pattern.png);
    background-size: contain;

}
header h5{
    color: grey;
}
h5 span{
    color: rgb(117, 212, 244);
}