body{
    margin: 0;
}

#logo{
    height: 100px;
    width: 180px;
    padding-top: 10px;
}

header div{
    height: 80px;
    background-color: rgb(0, 166, 255);
    background-image: url(../img/pattern.png);
    background-size: contain;
    margin-bottom: 10px;
}

main{
    margin-left: 15px;
}

h5 span{
    color: rgb(117, 212, 244);
}

main section h1{
    margin-bottom: 3px;
}

main section h5{
    margin: 0;
    color: grey;
}

main section h6{
    margin: 0;
    color: grey;
    margin-bottom: 15px;
}

#foto-lee img{
    display: inline-block;
}